html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: serif;
}

#main-container {
  background-color: rgb(235, 8, 8);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 50px 10px;
  border: 5px solid red;
  border-radius: 50px;
  height: 780px;
}

h1 {
  margin: 0px;
  color: rgb(213, 184, 15);
}

#sketch-grid {
  box-sizing: content-box;
  border: 2px solid red;
  box-shadow: 0px 0px 10px black inset;
  width: 560px;
  height: 560px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: white;
  flex: 1 0 auto;
}

#btns-container, #bottom-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  gap: 10px;
}

#size-btns {
  display: flex;
}

#colour-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#grid-size {
  width: 50px;
}

.dial {
  height: 150px;
  width: 150px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 100px;
  position: relative;
}

.left-dial {
  right: 60px;
  bottom: 10px;
}

.right-dial {
  left: 60px;
  bottom: 10px;
}

button {
  font-family: serif;
  background: rgb(153, 130, 4);
  color: rgb(255, 255, 255);
}

.clicked {
  background:rgb(197, 170, 14);
}

#solid-clr {
  background: none;
  border: none;
  width: 32px;
  height: 32px;
}